/* ==|== Base base !n! ======================================================= */

/* ==|== Header hdr !n! ====================================================== */

/* ==|== Content cnt !n! ===================================================== */

/* ==|== Main main !n! ======================================================= */

/* == Images and Figures == */

img.alignleft,
figure.alignleft {
  float: left;
  margin: 0.3em @baseFontMargin @baseFontMargin 0;
}

img.alignright,
figure.alignright {
  float: right;
  margin: 0.3em 0 @baseFontMargin @baseFontMargin;
}

/* ==|== Sidebar sdb !n! ===================================================== */

/* ==|== footer ftr !n! ====================================================== */
