/* ==|== Base !base !n! ======================================================= */

body {
  background: @bodyBackground;
}

.chromeframe {
  margin : 0.2em 0; 
  padding : 0.2em 0;
  color : @black; 
  background: @k40;
}

/* ==|== Header !hdr !n! ====================================================== */

.header {

}

.brand {

}

.primary-nav {

}

/* ==|== Content !cnt !n! ===================================================== */

.content {
  
}

/* ==|== Main !main !n! ======================================================= */

.main {
  
}

.page-header {

}

/* == Images and Figures == */

.image,
.alignnone,
.alignleft,
.alignright,
.aligncenter {

}

.image.thumb {

}

.caption  {
  font-size: .85em;
  text-align: center;
}

@import "wp-styles";

/* ==|== Sidebar !sdb !n! ===================================================== */

.sidebar {

}

/* ==|== Footer ftr !n! ====================================================== */

.footer {

}

.org-info [property="name"] {
  margin: 0;
}

.copyright {}
.design-by {
  font-size: .85em;
}