@gutterDefault   : 20px;
// use even numbers below if using pixels
@gutter768Total  : 20px;
@gutter992Total  : 30px;
@gutter1382Total : 40px;
@gutterIETotal   : 30px;

@gutter768       : (@gutter768Total / 2);
@gutter992       : (@gutter992Total / 2);
@gutter1382      : (@gutter1382Total / 2);
@gutterIE        : (@gutterIETotal / 2);

// ROWS
// ----------------------------------------------------
// Rows contain columns.
// nocol is for rows that will contain no columns for correct grid alignment.
// nest is for nested rows for correct grid alignment.
// Call each row in the corresponding media query. 
// If you are in 768.less then use .row(768).
// .home-blocks-wrap { .row(768); .clearfix(); }
.row()            { padding: 0 @gutterDefault; }

.row(768)         { padding: 0 @gutter768; }
.row(768, nocol)  { padding: 0 @gutter768Total; }
.row(768, nest)   { margin: 0 -@gutter768; }

.row(992)         { padding: 0 @gutter992; }
.row(992, nocol)  { padding: 0 @gutter992Total; }
.row(992, nest)   { margin: 0 -@gutter992; }

.row(1382)        { padding: 0 @gutter1382; }
.row(1382, nocol) { padding: 0 @gutter1382Total; }
.row(1382, nest)  { margin: 0 -@gutter1382; }

.row(ie)          { padding: 0 @gutterIE; }
.row(ie, nocol)   { padding: 0 @gutterIETotal; }
.row(ie, nest)    { margin: 0 -@gutterIE; }

// COLUMNS
// ----------------------------------------------
// If you desire a column width of 2/3 .column(2,3);
// #main { .column(2,3); }
.column(@column, @totalColumns) {
  float: left;
  width: (100 / @totalColumns) * @column * 1%;
}

// WIDTHS
// -----------------------------------------------------------------
// If you desire a just a width of 2/3 and no float use .width(2,3);
.width(@column, @totalColumns) {
  width: (100 / @totalColumns) * @column * 1%;
}

// COLUMN GUTTERS
// --------------------------------------------------------
// Call each gutter width in the corresponding media query.
// If you are in 768.less then use .gutter(768);
//  #main { .column(2,3); .gutter(768); }
.gutter()     { padding: 0 @gutterDefault; }
.gutter(768)  { padding: 0 @gutter768; }
.gutter(992)  { padding: 0 @gutter992; }
.gutter(1382) { padding: 0 @gutter1382; }
.gutter(ie)   { padding: 0 @gutterIE; }

// COLUMN OFFSET
// ---------------------------------------------------
// Offset and column must total one.
// #main { .column(3,4); .offset(1,4); .gutter(768); }
.makeOffset(@column, @totalColumns) {
  margin-left: (100 / @totalColumns) * @column * 1%;
}

// BLOCK GRIDS
// -----------------------------------------------
// Example use would be an image thubmnail gallery
// ul.gallery { .blockGrid(4, 30px, li); }
.blockGrid(@x, @gutter, @child: li) {
  margin: 0 -((@gutter / 2) * 1px);
  padding: 0;
  list-style: none;
  (~"> @{child}"){
    float: left;
    width: (100 / @x) * 1%;
    padding: 0 @gutter;
    line-height: 1;
  }
  (~"> @{child}:nth-child(@{x}n+1)") {
    clear: both;
  }
}

// OOCSS Grid classes
// Called in main.less and main-ie.less
#grid {

  .modern() {

    .row {
      .gutter();
      .clearfix();
      .row {
        padding: 0;
      }
    }

    @media only screen and (min-width: 768px) {

      .row {
        .row(768);
        .row {
          .row(768,nest);
          padding: 0;
        }
        &.row.nocolumns {
          .row(768,nocol);
        }
      }
      .column {
        float: left;
        min-height: 1px;
        .gutter(768);
      }
      .width1of1 { .width(1,1); }
      .width1of2, .width2of4 { .width(1,2); }
      .width1of3 { .width(1,3); }
      .width2of3 { .width(2,3); }
      .width1of4 { .width(1,4); }
      .width3of4 { .width(3,4); }
      .width1of5 { .width(1,5); }
      .width2of5 { .width(2,5); }
      .width3of5 { .width(3,5); }
      .width4of5 { .width(4,5); }

    } // end 768

    @media only screen and (min-width: 992px) {

      .row {
        .row(992);
        .row {
          .row(992,nest);
          padding: 0;
        }
        &.row.nocolumns {
          .row(992,nocol);
        }
      }
      .column {
        .gutter(992);
      }

    } // end 992

    @media only screen and (min-width: 1382px) {

      .row {
        .row(1382);
        .row {
          .row(1382,nest);
          padding: 0;
        }
        &.row.nocolumns {
          .row(1382,nocol);
        }
      }
      .column {
        .gutter(1382);
      }

    } // end 1382

  } // end .modern()

  .ie() {

    .row {
      .row(ie);
      .row {
        .row(ie,nest);
        padding: 0;
      }
      &.row.nocolumns {
        .row(ie,nocol);
      }
    }
    .column {
      float: left;
      min-height: 1px;
      .gutter(ie);
    }
    .width1of1 { .width(1,1); }
    .width1of2, .width2of4 { .width(1,2); }
    .width1of3 { .width(1,3); }
    .width2of3 { .width(2,3); }
    .width1of4 { .width(1,4); }
    .width3of4 { .width(3,4); }
    .width1of5 { .width(1,5); }
    .width2of5 { .width(2,5); }
    .width3of5 { .width(3,5); }
    .width4of5 { .width(4,5); }

  } // end ie

} // end #grid