
/* Image replacement */

.ir {
  .ir();
}

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
  .hidden();
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden { 
  .visuallyhidden();
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  .visuallyhidden-focusable();
}


/* Hide visually and from screenreaders, but maintain layout */

.invisible { 
  .invisible()
}

/* Contain floats: h5bp.com/q */

.clearfix {
  .clearfix();
}

/* Highlight Text */
.highlight {
  background: @highlightColor;
}

/* Floats */

.right {
  float: right;
}

.left {
  float: left;
}

/* Lists */

ul.nobullet {
  .nobullet();
}

ul.circle {
  .ulcircle();
}

ul.disc {
  .uldisc();
}

ul.square {
  .ulsquare();
}

ol.lowerroman {
  .lowerroman();
}

ol.upperroman {
  .upperroman();
}

ol.loweralpha {
  .loweralpha();
}

ol.upperalpha {
  .upperalpha();
}

ol.decimal {
  .decimal();
}

ol.decimal0 {
  .decimal0();
}

/* == Responsive Utilities */
/* https://github.com/twitter/bootstrap/ */

/*
  IE10 Metro responsive
  Required for Windows 8 Metro split-screen snapping with IE10
  Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
*/
@-ms-viewport{
  width: device-width;
}

/* For desktops */
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}

/* Tablets & small desktops only */
@media (min-width: 768px) and (max-width: 979px) {

  /* Hide everything else */
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }

  /* Show */
  .visible-tablet {
    display: inherit !important;
  }

  /* Hide */
  .hidden-tablet {
    display: none !important;
  }
}

/* Phones only */
@media (max-width: 767px) {

  /* Hide everything else */
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }

  /* Show */
  .visible-phone {
    display: inherit !important;
  }

  /* Hide */
  .hidden-phone {
    display: none !important;
  }
}