/*
  *** TABLE OF CONTENTS ***
  --------------------------------------------------------------------------  
  Following the name of each section is !n! and a 4 to 5 digit code, for
  example !abc, which you can use find next to skip to the next section.
  --------------------------------------------------------------------------
  
  Base          = !base
  Header        = !hdr
  Content       = !cnt
  Main          = !main
  Sidebar       = !sdb
  Footer        = !ftr
  Media Queries = !mdq
*/
/* ==========================================================================
   Base !base !n!
   ========================================================================== */
html {
  overflow-y: scroll;
}
body {
  background: #ffffff;
}
.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000000;
  background: #999999;
}
.assistive-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Navigation ul */
.nav {
  *zoom: 1;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
/* ==========================================================================
   Header !hdr !n!
   ========================================================================== */
/* ==========================================================================
   Content !cnt !n!
   ========================================================================== */
/* ==========================================================================
   Main !main !n!
   ========================================================================== */
/* ==========================================================================
   Sidebar !sdb !n!
   ========================================================================== */
/* ==========================================================================
   footer !ftr !n!
   ========================================================================== */
.org-info [property="name"] {
  margin: 0;
}
.design-by {
  font-size: .85em;
}
/* ==========================================================================
   Media Queries !mdq !n!
   ========================================================================== */
@media only screen and (max-width: 767px) {
  .alignnone,
  .alignleft,
  .alignright,
  .aligncenter {
    float: none;
    display: block;
    margin: 0 auto 1.125em;
  }
}
@media only screen and (max-width: 479px) {
  .comment-list .children {
    padding-left: 10px;
  }
  .comment-list .children li {
    padding-left: 20px;
  }
  .comment header .avatar,
  .comment header h3 {
    float: none;
    margin: 3px 0 0;
  }
  .comment header h3 time span {
    display: block;
  }
}
