/*
  *** TABLE OF CONTENTS ***
  --------------------------------------------------------------------------  
  Following the name of each section is !n! and a 4 to 5 digit code, for
  example !abc, which you can use find next to skip to the next section.
  --------------------------------------------------------------------------

  Reset              = !rst
  Normalize          = !nrml
  Typography         = !typ
  Tables             = !tbl
  Forms              = !frm
  Grid               = !grd
  Plugin Styles      = !plgn
  Global Styles      = !glb
  480px Break Point  = !480
  600px Break Point  = !600
  768px Break Point  = !768
  992px Break Point  = !992
  1382px Break Point = !1382
  Helper classes     = !hlp
  Print Styles       = !prnt
  
  Header  = !hdr
  Content = !cnt
  Main    = !main
  Sidebar = !sdb
  Footer  = !ftr
*/
/* =============================================================================
   Reset !n! !rst
   ========================================================================== */
/*
  A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted
  https://github.com/csswizardry/inuit.css/blob/master/inuit.css/generic/_reset.scss
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr,
figure,
body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* =============================================================================
   Normalize !n! !nrml
   ========================================================================== */
/*! normalize.css 2012-08-07T21:27 UTC | MIT License | git.io/normalize */
/* https://github.com/h5bp/html5-boilerplate/blob/master/css/normalize.css */
/* Note this has been modified from the above mentioned sources */
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* Base */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Links */
a:focus {
  outline: thin dotted;
}
a:active,
a:hover,
a:visited {
  outline: 0;
}
/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
dfn {
  font-style: italic;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Lists */
dd {
  margin: 0 0 0 20px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  padding: 0 0 0 30px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* Embedded content */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/* fluid images */
img,
figure,
video,
object,
embed {
  max-width: 100%;
  height: auto;
}
#map_canvas img,
.map_canvas img {
  max-width: none!important;
}
/* flexible/responsive videos */
/* http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 1.125em;
  height: 0;
  overflow: hidden;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Forms */
fieldset {
  border: 0;
}
legend {
  border: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}
/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Typography !n! !typ
   ========================================================================== */
html {
  font-size: 62.5%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #212121;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  word-wrap: break-word;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
  font-weight: 700;
  text-rendering: optimizelegibility;
  color: inherit;
}
h1,
.h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 0.6000000000000001em;
}
h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.75em;
}
h3,
.h3 {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
  margin-bottom: 0.8250000000000001em;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 1.125em;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.125em;
}
h6,
.h6 {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 1.2000000000000002em;
}
p,
menu,
figure,
fieldset,
ul,
ol,
dl,
blockquote,
table,
form,
pre,
hr {
  margin-bottom: 1.125em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
a {
  color: #d2411e;
  text-decoration: none;
}
a:hover {
  color: #a53318;
}
a:focus {
  color: #a53318;
  outline: thin dotted;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
b,
strong {
  font-weight: 700;
}
dt {
  font-weight: 700;
}
hr {
  display: block;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
mark {
  background: #ffff00;
  color: #000000;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 14px;
  font-size: 1.4rem;
  color: #212121;
  padding: 1px 3px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
pre {
  padding: 5px;
}
pre ol {
  margin-bottom: 0;
  padding-right: 15px;
}
blockquote {
  color: #212121;
  padding: 0 20px 0;
}
blockquote p {
  margin-bottom: 0.28125em;
}
blockquote small,
blockquote cite {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: normal;
  color: #999999;
}
blockquote small:before {
  content: "\2014";
  padding-right: 3px;
}
/* Highlight Text */
.highlight {
  background: #ffff99;
}
ul.nobullet {
  list-style: none;
}
ul.circle {
  list-style-type: circle;
}
ul.disc {
  list-style-type: disc;
}
ul.square {
  list-style-type: square;
}
ol.lowerroman {
  list-style-type: lower-roman;
}
ol.upperroman {
  list-style-type: upper-roman;
}
ol.loweralpha {
  list-style-type: lower-alpha;
}
ol.upperalpha {
  list-style-type: upper-alpha;
}
ol.decimal {
  list-style-type: decimal;
}
ol.decimal0 {
  list-style-type: decimal-leading-zero;
}
/* =============================================================================
   Tables !n! !tbl
   ========================================================================== */
.table {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-left: none;
  border-collapse: separate;
}
.table thead th,
.table tfoot td {
  font-weight: 700;
}
.table thead th {
  text-align: left;
  vertical-align: bottom;
}
.table th,
.table td {
  padding: 8px 12px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  vertical-align: top;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #ebebeb;
}
.table caption + thead tr:first-child th,
.table caption + tbody tr:first-child th,
.table caption + tbody tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + tbody tr:first-child th,
.table colgroup + tbody tr:first-child td,
.table thead:first-child tr:first-child th,
.table tbody:first-child tr:first-child th,
.table tbody:first-child tr:first-child td {
  border-top: none;
}
.table thead,
.table tfoot {
  background-color: #e6e6e6;
}
.table tr.even,
.table tr.alt {
  background-color: #f5f5f5;
}
.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.table.radius {
  border-radius: 3px;
}
.table.radius caption + thead tr:first-child th:first-child,
.table.radius caption + tbody tr:first-child td:first-child,
.table.radius colgroup + thead tr:first-child th:first-child,
.table.radius colgroup + tbody tr:first-child td:first-child,
.table.radius thead:first-child tr:first-child th:first-child,
.table.radius tbody:first-child tr:first-child td:first-child {
  border-radius: 3px 0 0 0;
}
.table.radius caption + thead tr:first-child th:first-child,
.table.radius caption + tbody tr:first-child td:first-child,
.table.radius colgroup + thead tr:first-child th:first-child,
.table.radius colgroup + tbody tr:first-child td:first-child,
.table.radius thead:first-child tr:first-child th:first-child,
.table.radius tbody:first-child tr:first-child td:first-child {
  border-radius: 3px 0 0 0;
}
.table.radius caption + thead tr:first-child th:last-child,
.table.radius caption + tbody tr:first-child td:last-child,
.table.radius colgroup + thead tr:first-child th:last-child,
.table.radius colgroup + tbody tr:first-child td:last-child,
.table.radius thead:first-child tr:first-child th:last-child,
.table.radius tbody:first-child tr:first-child td:last-child {
  border-radius: 0 3px 0 0;
}
.table.radius thead:last-child tr:last-child th:first-child,
.table.radius tbody:last-child tr:last-child td:first-child,
.table.radius tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
.table.radius thead:last-child tr:last-child th:first-child,
.table.radius tbody:last-child tr:last-child td:first-child,
.table.radius tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
.table.radius thead:last-child tr:last-child th:last-child,
.table.radius tbody:last-child tr:last-child td:last-child,
.table.radius tfoot:last-child tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
/* =============================================================================
   Forms !n! !frm 
   ========================================================================== */
.fieldset {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 3px;
}
label {
  display: block;
  margin-bottom: 3px;
}
::-webkit-input-placeholder {
  color: #b3b3b3;
}
:-moz-placeholder {
  color: #b3b3b3;
}
:-ms-input-placeholder {
  color: #b3b3b3;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="time"],
select[multiple="multiple"],
select,
textarea {
  margin: 0 0 0.84375em;
  padding: 6px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  -webkit-transition: box-shadow 0.15s 0s linear;
  -moz-transition: box-shadow 0.15s 0s linear;
  -o-transition: box-shadow 0.15s 0s linear;
  transition: box-shadow 0.15s 0s linear;
  outline-style: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="time"],
select {
  height: 32px;
}
select[multiple="multiple"] {
  height: auto;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select[multiple="multiple"]:focus,
textarea:focus {
  border-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
/* buttons */
.button {
  display: inline-block;
  padding: 8px 16px;
  background: #d2411e;
  border: none;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: background-color 0.2s 0 linear;
  -moz-transition: background-color 0.2s 0 linear;
  -o-transition: background-color 0.2s 0 linear;
  transition: background-color 0.2s 0 linear;
  -webkit-appearance: none;
}
.button:hover {
  background: #a53318;
  color: #ffffff;
}
/* =============================================================================
   Grid !n! !grd 
   ========================================================================== */
.row {
  padding: 0 20px;
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .row {
    padding: 0 10px;
  }
  .row .row {
    margin: 0 -10px;
    padding: 0;
  }
  .row.row.nocolumns {
    padding: 0 20px;
  }
  .column {
    float: left;
    min-height: 1px;
    padding: 0 10px;
  }
  .width1of1 {
    width: 100%;
  }
  .width1of2,
  .width2of4 {
    width: 50%;
  }
  .width1of3 {
    width: 33.333333333333336%;
  }
  .width2of3 {
    width: 66.66666666666667%;
  }
  .width1of4 {
    width: 25%;
  }
  .width3of4 {
    width: 75%;
  }
  .width1of5 {
    width: 20%;
  }
  .width2of5 {
    width: 40%;
  }
  .width3of5 {
    width: 60%;
  }
  .width4of5 {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .row {
    padding: 0 15px;
  }
  .row .row {
    margin: 0 -15px;
    padding: 0;
  }
  .row.row.nocolumns {
    padding: 0 30px;
  }
  .column {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1382px) {
  .row {
    padding: 0 20px;
  }
  .row .row {
    margin: 0 -20px;
    padding: 0;
  }
  .row.row.nocolumns {
    padding: 0 40px;
  }
  .column {
    padding: 0 20px;
  }
}
/* =============================================================================
   Plugin Styles !n! !plgn
   ========================================================================== */
/* =============================================================================
   Global Styles !n! !glb
   ========================================================================== */
body {
  background: #ffffff;
}
.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000000;
  background: #999999;
}
.assistive-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Navigation ul */
.nav {
  *zoom: 1;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
/* ==|== Header hdr !n! ====================================================== */
/* ==|== Content cnt !n! ===================================================== */
/* ==|== Main main !n! ======================================================= */
/* ==|== Sidebar sdb !n! ===================================================== */
/* ==|== Footer ftr !n! ====================================================== */
.org-info [property="name"] {
  margin: 0;
}
.design-by {
  font-size: .85em;
}
/* =============================================================================
   480px Break Point !n! !480
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ==|== Base base !n! ======================================================= */
  /* ==|== Header hdr !n! ====================================================== */
  /* ==|== Content cnt !n! ===================================================== */
  /* ==|== Main main !n! ======================================================= */
  /* ==|== Sidebar sdb !n! ===================================================== */
  /* ==|== Footer ftr !n! ====================================================== */
}
/* =============================================================================
   600px Break Point !n! !600
   ========================================================================== */
@media only screen and (min-width: 600px) {
  
}
/* =============================================================================
   768px Break Point !n! !768
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* ==|== Base base !n! ======================================================= */
  /* ==|== Header hdr !n! ====================================================== */
  /* ==|== Content cnt !n! ===================================================== */
  /* ==|== Main main !n! ======================================================= */
  /* ==|== Sidebar sdb !n! ===================================================== */
  /* ==|== Footer ftr !n! ====================================================== */
}
/* =============================================================================
   980px Break Point !n! !992
   ========================================================================== */
@media only screen and (min-width: 992px) {
  /* ==|== Base base !n! ======================================================= */
  /* ==|== Header hdr !n! ====================================================== */
  /* ==|== Content cnt !n! ===================================================== */
  /* ==|== Main main !n! ======================================================= */
  /* ==|== Sidebar sdb !n! ===================================================== */
  /* ==|== Footer ftr !n! ====================================================== */
}
/* =============================================================================
   1382px Break Point !n! !1382
   ========================================================================== */
@media only screen and (min-width: 1382px) {
  /* ==|== Base base !n! ======================================================= */
  /* ==|== Header hdr !n! ====================================================== */
  /* ==|== Content cnt !n! ===================================================== */
  /* ==|== Main main !n! ======================================================= */
  /* ==|== Sidebar sdb !n! ===================================================== */
  /* ==|== Footer ftr !n! ====================================================== */
}
/* ==========================================================================
   Helper Classes !hlp !n!
   ========================================================================== */
/* Floats */
.left {
  float: left;
}
.right {
  float: right;
}
/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Responsive Helpers */
/*
  IE10 Metro responsive
  Required for Windows 8 Metro split-screen snapping with IE10
  Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
*/
@-ms-viewport {
  width: device-width;
}
.hide0 {
  display: none !important;
}
@media only screen and (min-width: 480px) {
  .hide480 {
    display: none !important;
  }
  .show480 {
    display: inherit !important;
  }
}
@media only screen and (min-width: 600px) {
  .hide600 {
    display: none !important;
  }
  .show600 {
    display: inherit !important;
  }
}
@media only screen and (min-width: 768px) {
  .hide768 {
    display: none !important;
  }
  .show768 {
    display: inherit !important;
  }
}
@media only screen and (min-width: 992px) {
  .hide992 {
    display: none !important;
  }
  .show992 {
    display: inherit !important;
  }
}
@media only screen and (min-width: 1382px) {
  .hide1382 {
    display: none !important;
  }
  .show1382 {
    display: inherit !important;
  }
}
/* =============================================================================
   Print Styles !n! !prnt
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
